footer {
  background: #000;
  padding: 3rem;
  font-family: 'Poppins' sans-serif;
  .ft-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    margin: 1rem;
    gap: 1rem;
    text-align: center;

    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;

      
  }
}
}