@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
/*
=============== 
Variables
===============
*/
/* dark shades of primary color*/
$primary-1: hsl(205, 86%, 17%);
$primary-2: hsl(205, 77%, 27%);
$primary-3: hsl(205, 72%, 37%);
$primary-4: hsl(205, 63%, 48%);
/* primary/main color */
$primary-5: hsl(205, 78%, 60%);
/* lighter shades of primary color */
$primary-6: hsl(205, 89%, 70%);
$primary-7: hsl(205, 90%, 76%);
$primary-8: hsl(205, 86%, 81%);
$primary-9: hsl(205, 90%, 88%);
$primary-10: hsl(205, 100%, 96%);
/* darkest grey - used for headings */
$grey-1: hsl(209, 61%, 16%);
$grey-2: hsl(211, 39%, 23%);
$grey-3: hsl(209, 34%, 30%);
$grey-4: hsl(209, 28%, 39%);
/* grey used for paragraphs */
$grey-5: hsl(210, 22%, 49%);
$grey-6: hsl(209, 23%, 60%);
$grey-7: hsl(211, 27%, 70%);
$grey-8: hsl(210, 31%, 80%);
$grey-9: hsl(212, 33%, 89%);
$grey-10: hsl(210, 36%, 96%);
$white: #fff;
$red-dark: hsl(360, 67%, 44%);
$red-light: hsl(360, 71%, 66%);
$green-dark: hsl(125, 67%, 44%);
$green-light: hsl(125, 71%, 66%);
$black: #222;
$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 620px;
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: $white;
  color: $grey-1;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: $grey-3;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: $max-width;
}

// @media screen and (min-width: 992px) {
//   .section {
//     width: 95vw;
//   }
// }
/*
=============== 
Search
===============
*/
.search-form {
  width: 90vw;
  max-width: $max-width;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.form-input {
  width: 100%;
  border: transparent;
  max-width: 600px;
  background: $white;
  padding: 1rem;
  font-size: 1rem;
  border-radius: $radius;
  color: $grey-3;
  letter-spacing: $spacing;
  margin-top: 1rem;
}
.error {
  color: $red-dark;
  text-transform: capitalize;
  padding-top: 0.5rem;
  letter-spacing: $spacing;
}
/*
=============== 
Loading
===============
*/

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: $primary-5;
  animation: spinner 0.6s linear infinite;
}
