@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
/*
=============== 
Variables
===============
*/
/* dark shades of primary color*/
/* primary/main color */
/* lighter shades of primary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: hsl(209deg, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: hsl(209deg, 34%, 30%);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
/*  global classes */
/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

/*
=============== 
Search
===============
*/
.search-form {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.form-input {
  width: 100%;
  border: transparent;
  max-width: 600px;
  background: #fff;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: hsl(209deg, 34%, 30%);
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}

.error {
  color: hsl(0deg, 67%, 44%);
  text-transform: capitalize;
  padding-top: 0.5rem;
  letter-spacing: 0.1rem;
}

/*
=============== 
Loading
===============
*/
@-webkit-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: hsl(205deg, 78%, 60%);
  -webkit-animation: spinner 0.6s linear infinite;
          animation: spinner 0.6s linear infinite;
}

header {
  width: 100vw;
}
header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
  width: 100%;
}
header .navbar .nav-brand {
  width: 50%;
  margin: 0 auto;
}
header .navbar .nav-brand .logo {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navbar .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  margin-bottom: 4rem;
}
header .navbar .links .items {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  outline: none;
  font-size: 1.2rem;
  color: hsl(211deg, 27%, 70%);
  font-weight: 400;
  font-family: sans-serif;
}
header .navbar .links .items:hover {
  opacity: 0.7;
}
header .navbar .hamburger {
  display: none;
}
header .navbar .sidebar {
  display: none;
}
@media screen and (max-width: 769px) {
  header .navbar {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
  }
  header .navbar .nav-brand {
    width: 150px;
    float: left;
  }
  header .navbar .links {
    display: none;
  }
  header .navbar .hamburger {
    display: flex;
    font-size: 1.5rem;
    color: hsl(211deg, 27%, 70%);
  }
  header .navbar .sidebar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 4rem 0;
    background: #fff;
    transform: translate(-100%);
  }
  header .navbar .sidebar-show {
    transform: translate(0%);
  }
  header .navbar .sidebar .items {
    text-transform: uppercase;
    letter-spacing: 1.8px;
    outline: none;
    font-size: 1.2rem;
    color: hsl(211deg, 27%, 70%);
    font-weight: 400;
    font-family: sans-serif;
  }
  header .navbar .sidebar .items:hover {
    opacity: 0.7;
  }
  header .navbar .sidebar .cancel {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
  }
  header .navbar .sidebar .cancel svg {
    color: hsl(211deg, 27%, 70%);
  }
}/*# sourceMappingURL=index.css.map */